:root {
    --blackBlue: #0F1026;
    --darkBlue: #1B2040;
    --blue: #4973F2;
    --orange: #F2911B;
    --offWhite: #F2F2F2;
    --windowHeight: 100vh;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--offWhite);
    font-family: Arial, Helvetica, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
}

h1 {
    margin: 10px;
    color: blue;
}

h3 {
    color: var(--blackBlue);
    margin: 0;
}

p {
    color: var(--offWhite);
    font-weight: 300;
}

.hide, .hidden {
    display: none;
    visibility: hidden;
}

.errorInfoText {
    color: var(--blackBlue);
}

.content {
    margin: 10px;
    border: solid 1px var(--blackBlue);
    background-color: var(--offWhite);
}

.messageBoard {
    overflow-y: scroll;
    max-height: 70vh;
    min-height: 300px;
}

.post-wrapper {
    background-color: var(--blue);
    margin: 15px 25px;
    padding: 5px 10px;
    width: fit-content;
    border-radius: 5px;
}

#username-display {
    font-size: 24px;
    margin: 5px 25px;
}

#logout-btn button {
    padding: 2px 20px;
    border: none;
    background-color: var(--orange);
    border-radius: 5px;
}

.postForm {
    margin: 10px;
}

#postInput {
    width: 80vw;
}
#post-label {
    display: block;
}
#post-btn {
    background-color: var(--orange);
    border-radius: 5px;
    border: none;
    padding: 8px;
    width: 10vw;
    vertical-align: top;
}

.infoText {
    margin: 10px;
    color: var(--blackBlue);
}

/* Login form */

.login-form, .signup-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 22px;
}

.inputDiv {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.inputDiv label {
    font-size: 24px;
    color: var(--darkBlue);
}
.inputDiv input {
    width : 275px;
    height: 30px;
    border: solid 1px var(--blue);
    border-radius: 4px;
    padding-left: 10px;
}

#submit-btn {
    background-color: var(--orange);
    width: 285px;
    height: 30px;
    border: solid 1px var(--darkBlue);
    border-radius: 4px;
    transition: 0.3s;
    font-weight: bold;
    color: var(--darkBlue);
}

#submit-btn:hover, #submit-btn:active {
    background-color: var(--darkBlue);
    color: var(--offWhite);
    border: solid 1px var(--orange);
    transition: 0.3s;
}