<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login</title>
        <meta name="description" content="OpenChat login page">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <nav class="main-nav">
            <ul>
                <li id="index-link"><a href="/">Post Thread</a></li>
                <li id="login-link"><a href="/login">Log in</a></li>
                <li id="signup-link"><a href="/signup">Sign Up</a></li>
            </ul>
        </nav>
        <h1>Log In</h1>
        <form action="" class="login-form">
            <p class="errorInfoText"></p>
            <label for="username-input">Username</label>
            <input name="username-input" id="username-input" type="text" placeholder="username" autocomplete="off">
            <label for="password-input">Password</label>
            <input name="password-input" id="password-input" type="password" placeholder="Password" autocomplete="off">
            <button id="submit-btn" type="submit">Log In</button>
        </form>
        <script src="../js/login.js" async defer></script>
    </body>
</html>