<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>OpenChat</title>
        <meta name="description" content="Chat openly with anybody and everybody.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./css/defaults.css">
        <link rel="stylesheet" href="./css/desktop.css">
        <link rel="stylesheet" href="./css/mobile.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <nav class="main-nav">
            <ul>
                <li id="index-link"><a href="/">Post Thread</a></li>
                <li id="login-link"><a href="/login">Log in</a></li>
                <li id="signup-link"><a href="/signup">Sign Up</a></li>
            </ul>
            <div id="logged-in-details" class="details hidden">
                <a id="username-display" href="/profile">username</a>
                <form id="logout-btn" action="/logout" method="post">
                    <button type="submit">Log Out</button>
                </form>
            </div>
        </nav>
        <div class="profile">
            <h1>Profile</h1>
            <p class="profileInfo">userName: <span id="profileUsername">fill w/ js</span></p>
            <div class="update-email">
                <p class="profileInfo">email: <span id="profileEmail">fill w/ js</span></p>
            </div>
            <div class="acc-creation-date">
                <p class="profileInfo">User since: <span id="profileCreated">fill w/ js</span></p>
            </div>
            <div class="update-password">
                <form action="">
                    <p>change password:</p>
                    <input type="text" placeholder="old password">
                    <input type="text" placeholder="new password">
                    <input type="text" placeholder="confirm new password">
                    <button type="submit" submit-btn>Submit</button>
                </form>
            </div>

        </div>
        <script src="../js/common.js"></script>
        <script src="../js/profile.js"></script>
    </body>
</html>