<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login</title>
        <meta name="description" content="OpenChat login page">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./css/defaults.css">
        <link rel="stylesheet" href="./css/desktop.css">
        <link rel="stylesheet" href="./css/mobile.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <nav class="main-nav">
            <ul>
                <li id="index-link"><a href="/">Post Thread</a></li>
                <li id="login-link"><a href="/login">Log in</a></li>
                <li id="signup-link"><a href="/signup">Sign Up</a></li>
            </ul>
            <div id="logged-in-details" class="details hidden">
                <p id="username-display">username</p>
                <form id="logout-btn" action="/logout" method="post">
                    <button type="submit">Log Out</button>
                </form>
            </div>
        </nav>
        <h1>Create Account</h1>
        <form action="" class="signup-form">
            <p class="errorInfoText"></p>
            <div class="inputDiv userName">
                <label for="username-input">Username</label>
                <input id="username-input" name="username-input" type="text" placeholder="username" autocomplete="off" required="required">
            </div>
            <div class="inputDiv password">
                <label for="password-input">Password</label>
                <input id="password-input" name="password-input" type="password" placeholder="Password" autocomplete="off" required="required">
            </div>
            <div class="inputDiv email">
                <label for="email-input">Email<span> (optional)</span></label>
                <input id="email-input" name="email-input" type="email" placeholder="you@email.com" autocomplete="off">
            </div>
            <button id="submit-btn" type="submit">Create Account</button>
        </form>
        <script src="../js/signup.js" async defer></script>
        <script src="../js/common.js"></script>
    </body>
</html>